/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.cljs_rhino_repl
/resources/public/**/*.js
/.grunt/
/build/
/node_modules/
/public/
/bower_components/
/tmp/
/build.json
